### General ###
*.log
#.htaccess
.DS_Store
.tmp
error_log

### WordPress ###
wp-config.php
wp-content/cache/
#wp-content/upgrade/
wp-content/uploads/
wp-content/advanced-cache.php
wp-content/wflogs/
#wp-content/plugins/wordfence/tmp/configCache.php

### PHP Storm ###
/.idea/